footer
  .container.text-center
    p.pull-left SOCISS est mis à disposition sous license #[a(href='http://www.gnu.org/copyleft/gpl.html') GNU General Public License v3 (GPL-3)]
    ul.pull-right.list-inline
      li
        a(href='https://github.com/VEAF/SOCISS') #[i.fa.fa-github]Le projet sur GitHub
      li
        a(href='https://github.com/VEAF/SOCISS/issues') #[i.fa.fa-bug]Bugs